.topBtn {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--darkgrey);
    border: 3px solid var(--blue);
    font-size: 2rem;
    bottom: 12rem;
    right: 3rem;
    z-index: 1000;
    cursor: pointer;
    color: var(--white);
  }
  